<% provide(:title, 'Home') %>

<section id="hero">
  <div class="intro_title">
    <h1>Welcome Home Friend</h1>
    <p><b>Discover The Best Deals in the town and pay when you consume</b></p>
    <%=link_to 'How it Works', about_path, class:'button_intro outline'%>
  </div>
  <div id="search_bar_container" style="height: 104px; padding-top: 29px">
    <div class="container">
      <%= form_tag deals_path, role: 'search', method: :get do %>
      <div class="search_bar">
                            <span class="nav-facade-active" id="nav-search-in" style="background: #e04f67">
                            <span id="nav-search-in-content" >All Deals</span>
                            </span>
        <div class="nav-searchfield-outer">
          <%= text_field_tag :q, params[:query],id:'twotabsearchtextbox' %>
        </div>
      </div>
       <%end%><!-- End search bar-->
    </div>
  </div>
</section><!-- End hero -->

<div class="container margin_60">

  <div class="main_title">
    <h2> Explore the City </h2>
    <p> See where people are buying, and get the best deals. </p>
  </div>

  <div class="row">
        <%= render 'static_pages/partials/home_deals'%>
  </div><!-- End row -->

  <p class="text-center nopadding">
    <%=link_to 'See All Deals', deals_path ,class:'btn_1 outline'%>
  </p>
</div><!-- End container -->

<section class="promo_full">
  <div class="promo_full_wp magnific">
    <div>
      <h3>BELONG ANYWHERE</h3>
      <p>
        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
      </p>
      <a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="icon-play-circled2-1"></i></a>
    </div>
  </div>
</section><!-- End section -->

<div class="container margin_60">

  <div class="main_title">
    <h2>Some <span>good</span> reasons</h2>
    <p>
      Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
    </p>
  </div>

  <div class="row">

    <div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">
      <div class="feature_home">
        <i class="icon_set_1_icon-41"></i>
        <h3><span>+120</span> Premium tours</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
        </p>
        <a href="about.html" class="btn_1 outline">Read more</a>
      </div>
    </div>

    <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
      <div class="feature_home">
        <i class="icon_set_1_icon-30"></i>
        <h3><span>+1000</span> Customers</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
        </p>
        <a href="about.html" class="btn_1 outline">Read more</a>
      </div>
    </div>

    <div class="col-md-4 wow zoomIn" data-wow-delay="0.6s">
      <div class="feature_home">
        <i class="icon_set_1_icon-57"></i>
        <h3><span>H24 </span> Support</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
        </p>
        <a href="about.html" class="btn_1 outline">Read more</a>
      </div>
    </div>

  </div><!--End row -->

  <hr>

  <div class="row">
    <div class="col-md-8 col-sm-6 hidden-xs">
      <img src="img/laptop.png" alt="Laptop" class="img-responsive laptop">
    </div>
    <div class="col-md-4 col-sm-6">
      <h3><span>Get started</span> with CityTours</h3>
      <p>
        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
      </p>
      <ul class="list_order">
        <li><span>1</span>Select your preferred tours</li>
        <li><span>2</span>Purchase tickets and options</li>
        <li><span>3</span>Pick them directly from your office</li>
      </ul>
      <a href="all_tour_list.html" class="btn_1">Start now</a>
    </div>
  </div><!-- End row -->

</div><!-- End container -->
