<% provide(:title, 'Your Wishlist') %>


<section class="parallax-window" data-parallax="scroll" data-image-src="img/home_bg_1.jpg" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="">
      <h1>Your wishlist</h1>
      <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
    </div>
  </div>
</section><!-- End section -->

<%=render 'common/position'%>
<div  class="container margin_60">
  <div class="row">
    <%= render 'static_pages/partials/wishlist_sidebar'%>
    <!--End aside -->
    <div class="col-lg-9 col-md-9">
      <div id="tools">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select-filters">
              <select name="sort_price" id="sort_price">
                <option value="" selected>Sort by price</option>
                <option value="lower">Lowest price</option>
                <option value="higher">Highest price</option>
              </select>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select-filters">
              <select  name="sort_rating" id="sort_rating">
                <option value="" selected>Sort by ranking</option>
                <option value="lower">Lowest ranking</option>
                <option value="higher">Highest ranking</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 hidden-xs text-right">
            <a href="all_tours_grid.html" class="bt_filters"><i class="icon-th"></i></a> <a href="#" class="bt_filters"><i class=" icon-list"></i></a>
          </div>
        </div>
      </div><!--/tools -->

      <%@deals.each do |f|%>
          <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <%= link_to vote_deal_path(f), method: :delete, class: "wishlist_close" do %>
                -
                <%end%>
                <div class="img_list">
                    <%= link_to f do%>
                    <div class="ribbon popular" ></div>
                        <%=image_tag f.cover_photo.url(:medium)%>

                  <div class="short_info">
                    <i class="<%= f.category.icon%>"></i>
                    <%= f.category.name%>
                  </div>
                  <%end%>
                </div>
              </div>
              <div class="clearfix visible-xs-block"></div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="tour_list_desc">
                  <div class="rating">
                    <%= rating_for f, "price", readonly: true %>
                  </div>
                  <h3><strong><%=truncate(f.title, length:60)%></strong></h3>
                  <p><%=truncate(f.about, length:120)%></p>
                  <ul class="add_info">
                    <li>
                      <div class="tooltip_styled tooltip-effect-4">
                        <span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
                        <div class="tooltip-content"><h4>Schedule</h4>
                          <strong><%f.timing%></strong><br>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="tooltip_styled tooltip-effect-4">
                        <span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
                        <div class="tooltip-content"><h4>Address</h4>
                          <%=f.address%><%=f.city%><br>
                        </div>
                      </div>
                    </li>
                    <%if f.wifi? || f.smoking? || f.parking? || f.music?%>
                        <%if f.wifi? %>
                            <li>
                              <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                                <div class="tooltip-content"><h4>Wifi</h4>
                                  FREE WIFI AVAILABLE
                                </div>
                              </div>
                            </li>
                        <%end%>
                        <%if f.music? %>
                            <li>
                              <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-97"></i></span>
                                <div class="tooltip-content"><h4>Music</h4>
                                  Enjoy Our Music
                                </div>
                              </div>
                            </li>
                        <%end%>
                        <%if f.parking? %>
                            <li>
                              <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-27"></i></span>
                                <div class="tooltip-content"><h4>Parking</h4>
                                  Parking Available
                                </div>
                              </div>
                            </li>
                        <%end%>
                        <%if f.smoking? %>
                            <li>
                              <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-47"></i></span>
                                <div class="tooltip-content"><h4>Smoking</h4>
                                  No Smoking Area Available
                                </div>
                              </div>
                            </li>
                        <%end%>
                    <%end%>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="price_list"><div><%=f.prix_after%><sup>DT*</sup><span class="normal_price_list"><%=f.prix_before%>DT</span><small >*Per person</small>
                 <p><%=link_to 'Details', f, class:'btn_1'%></p>
                </div>

                </div>
              </div>
            </div>
          </div><!--End strip -->
    <%end%>
      <hr>
      <div class="text-center">
        <ul class="pagination">
          <%= will_paginate @deals, renderer: BootstrapPagination::Rails %>
        </ul>
      </div><!-- end pagination-->
    </div><!-- End col lg-9 -->
  </div><!-- End row -->
</div><!-- End container -->