<%@deals.each do |d|%>
    <div class="col-md-4 col-sm-6">
      <div class="tour_container">
        <div class="img_container">
          <%= link_to d do %>
              <%=image_tag d.cover_photo.url(:medium), style:'width:406px; height:270px', class:'img-responsive'%>
              <div class="badge_save">Save<strong><%=d.percentage%>%</strong></div>
              <div class="short_info">
                <i class="<%=d.category.icon%>"></i> <%=d.category.name%><span class="price"><sup>DT</sup><%=d.prix_after%></span>
              </div>
          <%end%>
        </div>
        <div class="tour_title">
          <h3><strong><%=truncate(d.title, length:28)%></strong></h3>
          <div class="rating">
            <%= rating_for d, "price", readonly: true %>
          </div><!-- end rating -->
          <div class="wishlist">
            <%= link_to vote_deal_path(d), method: :put, class: "tooltip_flip tooltip-effect-1", style:'font-size: 14px;' do %>
                <%= d.get_upvotes.size %><span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span>
            <%end%>
          </div><!-- End wish list-->
        </div>
      </div><!-- End box tour -->
    </div>
<%end%>