<div class="box_style_cat">
  <ul id="cat_nav">
    <% @categories.each do |name| %>
        <li><a href="#" id="active"><i class="<%=name.icon%>"></i> <%= name.name%><span>(<%=name.deals.size%>)</span></a></li>
        <%@subscategories.each do |sub|%>
            <li><a href="#"><i class="<%=sub.icon%>"></i><%= sub.name%><span>(<%=sub.deals.size%>)</span></a></li>
        <%end%>
    <%end%>
  </ul>
</div>
<%= render 'common/need_help'%>
