<%= content_tag :div, class: 'col-md-6 col-sm-6', id: "deal_#{deal.id}" do %>
  <div class="tour_container">
    <div class="img_container">
      <%= link_to deal do %>
          <%=image_tag deal.image, style:'width:406px; height:270px', class:'img-responsive', load: true%>
          <div class="badge_save">Save<strong><%=deal.percentage%>%</strong></div>
          <div class="short_info">
            <i class="icon_set_3_restaurant-2"></i> Fast food<span class="price"><sup>DT</sup><%=deal.prix_after%></span>
          </div>
      <%end%>
    </div>
    <div class="tour_title">
      <h3><strong><%=truncate(deal.title, length:28)%></strong></h3>
      <div class="rating">
        <%= rating_for deal, "price", readonly: true %>
      </div><!-- end rating -->
      <div class="wishlist">
        <%= link_to vote_deal_path(deal), method: :put, class: "tooltip_flip tooltip-effect-1", style:'font-size: 14px;' do %>
            <%= deal.get_upvotes.size %><span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span>
        <%end%>
      </div><!-- End wish list-->
    </div>
  </div><!-- End box tour -->
<%end%>