<% provide(:title, 'All The Deals') %>
<section class="parallax-window" data-parallax="scroll" data-image-src="img/restaurant_top.jpg" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="">
      <h1>Paris Restaurants</h1>
      <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
    </div>
  </div>
  <%=render 'common/search'%>
</section><!-- End section -->
<%=render 'common/position'%>
<div class="container margin_60">
  <div class="row">
    <%= render 'deals/all_deals_filtre'%>
    <!--End aside -->
    <div class="col-lg-9 col-md-8">
      <div id="tools">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select-filters">
              <%= link_to "Sort by Price", :sort => 'prix_after'%>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select-filters">
              <%= link_to "Sort by Reviews"%>

            </div>
          </div>
          <div class="col-md-6 col-sm-6 hidden-xs text-right">
            <a href="#" class="bt_filters"><i class="icon-th"></i></a> <a href="all_tours_list.html" class="bt_filters"><i class=" icon-list"></i></a>
          </div>
        </div>
      </div><!--End tools -->

      <div id="deals">
        <%= render 'deals/deals'%>
      </div>

    </div><!-- End col lg 9 -->
  </div><!-- End row -->
</div><!-- End container -->

<!-- Specific scripts -->
<!-- Cat nav mobile -->
<script  src="js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<!-- Check and radio inputs -->
<script src="js/icheck.js"></script>
<script>
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-grey',
    radioClass: 'iradio_square-grey'
  });
</script>
