<% provide(:title, "#{@deal.about}") %>


<section class="parallax-window" data-parallax="scroll" data-image-src="<%=image_url @deal.cover_photo.url(:large)%>" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1><%=@deal.business%></h1>
          <span><%=@deal.address%> <%=@deal.city%></span>
          <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small></span>
        </div>
        <div class="col-md-4 col-sm-4">
          <div id="price_single_main">
            from/per person <span><sup>DT</sup><%=@deal.prix_after%></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End section -->

<div id="position">
  <div class="container">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Category</a></li>
      <li>Page active</li>
    </ul>
  </div>
</div><!-- End Position -->

<div class="collapse" id="collapseMap">
  <div id="map" class="map"></div>
</div><!-- End Map -->

<div class="container margin_60">
  <div class="row">
    <div class="col-md-8" id="single_tour_desc">

      <%if @deal.wifi? || @deal.smoking? || @deal.parking? || @deal.music?%>
      <div id="single_tour_feat">
        <ul>
          <%if @deal.wifi? %>
          <li><i class="icon_set_3_restaurant-1"></i>Free Wifi</li>
          <%end%>
          <%if @deal.smoking? %>
              <li><i class="icon_set_3_restaurant-1"></i>No smoking area</li>
          <%end%>
          <%if @deal.parking? %>
              <li><i class="icon_set_3_restaurant-1"></i>Parking</li>
          <%end%>
          <%if @deal.music? %>
              <li><i class="icon_set_3_restaurant-1"></i>Music</li>
          <%end%>
        </ul>
      </div>
          <%end%>

      <p class="visible-sm visible-xs"><a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a></p><!-- Map button for tablets/mobiles -->

      <div class="row">
        <div class="col-md-3">
          <h3>The Deal</h3>
        </div>
        <div class="col-md-9">
          <h4>Deal Description</h4>
          <p><%= @deal.about%></p>
          <h4>Conditions</h4>
          <p><%= @deal.conditions%></p>

             <% if @deal.reservation == true%>
              <h4><i class=" icon_set_1_icon-55">reservation requierd</i></h4>
              <%else%>
              <h4><i class="icon_set_1_icon-18">reservation Not requierd</i></h4>
             <%end%>
          <h4>Menu</h4>
          <p><%= @deal.menu%> </p>
          <!-- End row  -->
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <h3>Description</h3>
        </div>
        <div class="col-md-9">
          <h4>About us</h4>
          <p><%= @deal.about%></p>
          <h4>Menu and dishes</h4>
          <p><%= @deal.menu%> </p>
          <!-- End row  -->
        </div>
      </div>
      <hr>
     <%= render 'deals/reviews'%>
    </div><!--End  single_tour_desc-->
    <%= render 'deals/sidebar' %>
  </div><!--End row -->
</div><!--End container -->
<%= render 'deals/review' %>
<!-- Specific scripts -->
<script src="js/icheck.js"></script>
<script>
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-grey',
    radioClass: 'iradio_square-grey'
  });
</script>

<!-- Date and time pickers -->
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-timepicker.js"></script>
<script>
  $('input.date-pick').datepicker('setDate', 'today');
  $('input.time-pick').timepicker({
    minuteStep: 15,
    showInpunts: false
  })
</script>

<!--Review modal validation -->
<script src="assets/validate.js"></script>

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/map_single_restaurant.js"></script>
<script src="js/infobox.js"></script>
