<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <h3>Need help?</h3>
        <a href="tel://004542344599" id="phone">+45 423 445 99</a>
        <a href="mailto:help@citytours.com" id="email_footer">help@citytours.com</a>
        <strong>Secure payments with</strong>
        <p><img src="img/payments.png" width="231" height="30" alt="" data-retina="true" class="img-responsive"></p>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Company</h3>
        <ul>
          <li><%= link_to 'About us',   about_path%></li>
          <li><%= link_to 'Help' %></li>
          <li><%= link_to 'Blog',       articles_path%></li>
          <li><%= link_to 'Contact us', contact_path%></li>
          <%if !user_signed_in?%>
          <li><%= link_to 'Login',      login_path%></li>
          <li><%= link_to 'Register',   register_path%></li>
          <%end%>
          <li><%= link_to 'Terms and condition' %></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3"  id="newsletter">
        <h3>Newsletter</h3>
        <p>Join our newsletter to keep be informed about offers and news.</p>
        <div id="message-newsletter_2"></div>
        <%= form_for Newsletter.new  do |f|%>
          <div class="form-group">
            <%=f.email_field :email, class:'form-control' ,value:"#{user_signed_in? ?  current_user.email : '' }", placeholder:'Your Email'%>
          </div>
          <%= f.submit 'Submit' ,class:'btn_1'%>
        <%end%>
      </div>
      <div class="col-md-2 col-sm-3">
        <h3>Mobile Apps</h3>
        <div class="">
          <%= image_tag  'playstore.png' ,style:'max-width: 200px;'%>
         </div>
      </div>
    </div><!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-google"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-vimeo"></i></a></li>
            <li><a href="#"><i class="icon-youtube-play"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
          </ul>
          <p>© Citytours 2015</p>
        </div>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</footer>

<div id="toTop"></div>