<% style_menu = 'display: block;padding: 10px;color: grey;background: transparent none repeat scroll 0% 0%;font-size: 14px;'%>

<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
  <div id="top_line">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>0045 043204434</strong></div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <ul id="top_links">
            <%if user_signed_in?%>
                <li>
                  <div class="dropdown dropdown-cart" style="margin-top:-4px;" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <%=current_user.first_name =  '' ? current_user.full_name : current_user.user_name  %>
                      <%= image_tag current_user.avatar.url(:thumb), class:'img-circle', style:'width:35px; height:26px;'%></a>
                    <ul class="dropdown-menu" id="cart_items">
                      <li><%=link_to 'Account', account_path, style:"#{style_menu}" %></li>
                      <li><%=link_to 'Your Coupons' ,account_path, style:"#{style_menu}"%></li>
                      <li><%=link_to 'Become a Dealer', account_path, style:"#{style_menu}" %></li>
                      <li><%=link_to 'Logout', logout_path, :method => :delete, style:"#{style_menu}" %></li>
                    </ul>
                  </div><!-- End dropdown-cart-->
                </li>
            <%else%>
            <li><%= render 'common/signup'%></li>
            <li><%=link_to register_path do %><i class="icon-key"></i>Sign Up<%end%></li>
            <li><%=link_to about_path do %><i class="icon-basket-2"></i>Become a Dealer<%end%></li>
            <%end%>
          </ul>
        </div>
      </div><!-- End row -->
    </div><!-- End container-->
  </div><!-- End top line-->

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div id="logo">
          <a href="/"><img src="img/logo.png" width="160" height="34" alt="City tours" data-retina="true" class="logo_normal"></a>
          <a href="/"><img src="img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true" class="logo_sticky"></a>
        </div>
      </div>
      <nav class="col-md-9 col-sm-9 col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
          <ul>
            <li class="submenu">
              <%= link_to 'Home', root_path , class:'show-submenu'%>
            </li>
            <li class="submenu">
              <%= link_to 'All Deals', deals_path , class:'show-submenu'%>
            </li>
            <li class="submenu">
              <%= link_to 'Food & Drinks', restaurants_path , class:'show-submenu'%>
            </li>
            <li class="submenu">
              <%= link_to 'Discover', restaurants_path , class:'show-submenu'%>
            </li>
            <li class="submenu">
              <%= link_to 'Beauty & Spas', restaurants_path , class:'show-submenu'%>
            </li>
            <li class="submenu">
              <%= link_to 'Gadgets', restaurants_path , class:'show-submenu'%>
            </li>
          </ul>
        </div><!-- End main-menu -->
        <ul id="top_tools">
          <li>
            <div class="dropdown dropdown-search">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
              <div class="dropdown-menu">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="margin-left:0;">
                                              <i class="icon-search"></i>
                                            </button>
                                            </span>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <li>
            <div class="menu-wrapper">
                <%= link_to new_deal_path, style:'font-size:18px' do%>
                <i class="icon-plus"></i>Post Your Deal
                <%end%>
            </div><!-- End dropdown-cart-->
          </li>
        </ul>
      </nav>
    </div>
  </div><!-- container -->
</header>
<!-- End Header -->